.container {
    display: grid;
    grid-template-rows: 10% 75% 15%;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    min-height: 100vh;
}
.block {
    border: 2px solid rgb(163, 226, 219);
    text-align: center;
}
.header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.middle-part {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    
}
.middle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px 10px;
    font-family: 'Courier New', Courier, monospace;
}
.content-container {
    display: grid;
    grid-template-rows: 25% 75%;
    
}
.content-middle {
    display: grid;
    gap: 10px 10px;
}
.content-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.content-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.content-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 50px;
}
.sidebar {
    display: grid;
    grid-template-rows: 30% 70%;
    justify-items: center;
    padding: 20px;
}
.footer-part {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
    font-family: 'Courier New', Courier, monospace;
}


