body {
    font-family: "Montserrat", sans-serif;
    background-color: antiquewhite;
}
.container {
    display: flex;
    justify-content: flex-start
}
h2 {
    color: rgb(123, 41, 238);
}
.showName {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.showName_options {
    margin-left: 10px;
}
/* input[type=radio] {
    background: white;
    appearance: none;
    outline: 2px solid #333;
    border: 3px solid white;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
input[type=radio]:checked {
    background: #333;
} */
.comment {
    max-width: 35%;
    padding: 10px;
}
.commentpart_item {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
label {
    padding: 5px;
}
.bold {
    font-weight: bold;
}
.input_name_img {
    padding: 5px;
    border: dotted 3px rgb(175, 130, 238);
    border-radius: 5px;
}
.input_comm {
    border: dotted 3px rgb(175, 130, 238);
    border-radius: 5px;
}
button {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(175, 130, 238);
    color: antiquewhite;
}
.chat {
    max-width: 65%;
    padding: 10px;
    margin-left: 30px;
}
.chatpart_ava_name_date {
    display: flex;
    justify-content: space-between;
   
}
#chatpart_date {
    font-size: 0.8rem;
    
}
.chatpart_ava_name {
    display: flex;
    align-items: center;
}
#chatpart_name {
    padding: 10px;
    color: rgb(123, 41, 238);
    font-weight: 600;
}
.chatpart_added {
    min-width: 70vw;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: dotted 3px rgb(175, 130, 238);
}
.imageAdded {
    display: block !important;
    width: 50px;
    height: 70px;
}
.none {
    display: none;
}